@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFadeInOut {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    10% {
        opacity: 1;
        transform: translateX(0);
    }

    90% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.animate-slide-fade-in-out {
    animation: slideFadeInOut 2s ease-in-out forwards;
}